<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmMjRiODVkNTU3YjRiN2VmMjk1YjRmMGE0MDljNjUzOSIsInN1YiI6IjYyZmI1YzAzMjQ0MTgyMDA3Yzc2ZTNkZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.gs8cKhouwUrkkkXAB1Osmf3EdySrNdtNoWuQXEXLrQY</string>
</dict>
</plist>
